<table cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td valign="top" style="font: inherit;">
            <div>{{ message }}</div>
        </td>
    </tr>
</table>
<div id="_origMsg_">
    <div style="font-family:arial, helvetica, sans-serif:font-size:10pt">
        <br />
        <div style="font-family:times new roman, new york, times, serif;font-size:12pt">
            <font size="2" face="Tahoma" />
            <hr size="1" />
            <table cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td valign="top" style="font:inherit;">
                            <html> <span style="font-family:courier;font-weight:bold;">This message is about your posting at <a href="www.thebooklistr.com">The Cal Poly Book Listr</a><br>You can reply to this person at <a href=3D"mailto:{{ email }}" target=3D"_blank">{{ email }}</a></b></br><br></br><b>Thanks, </br>The Book Listr Team</b></span><br /><br />                         
