{% extends "base.html" %}
{% load bootstrap %}


{% block title %}Contact Seller{% endblock %}

{% block content %}
<div class="container">
	<div class="hero-unit">
		<div class="row">
			<form method="POST" action="{% url app.views.contactseller %}">
				{% csrf_token %}
				<div class="span4">
					{% if form.errors %}
					<p style="color: red;">
						Please correct the error{{ form.errors|pluralize }} below.
					</p>
					{% endif %}

					{{ form|bootstrap }}
					<input type="hidden" value="{{ postid }}" name="postid" >
					<input class="btn btn-primary btn-large" type="submit" value="List your book &raquo;">
				</div>
			</form>
			<div class="span6">
				<h1>How this works</h1>
				<p>
					We'll contact the seller for you and give them your email address. Feel free to write a message to them and we'll pass it along.
					We won't store your email, or share it with anyone other than the seller you are contacting.
				<p>
			</div>
		</div>
	</div>
	{% endblock %}
