<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>Cal Poly Book Listr</title>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Le styles -->
		<link href="../static/css/bootstrap.css" rel="stylesheet">
		<style type="text/css">
			body {
				padding-top: 60px;
				padding-bottom: 40px;
			}
			#search #search-area #search-box button {
				height: 58px;
				width: 96px;
			}
			#search #search-area #search-box input {
				height: 48px;
				line-height: 1.5;
				font-size: 36px;
			}
			.visuallyhidden {
				height: 1px;
				width: 1px;
				margin: -1px;
				padding: 0;
				border: 0;
				clip: rect(0 0 0 0);
				position: absolute;
				overflow: hidden;
			}
			#search #main-title {
				margin-top: 30px;
			}
			#search #main-title h1 {
				font-weight: 300;
				font-size: 50px;
				height: 100px;
				line-height: 1;
			}

		</style>
		<link href="../static/css/bootstrap-responsive.css" rel="stylesheet">
		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<!-- Le fav and touch icons -->
		<link rel="shortcut icon" href="../static/ico/favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../static/ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../static/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../static/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="../static/ico/apple-touch-icon-57-precomposed.png">
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-31955204-1']);
			_gaq.push(['_trackPageview']); (function() {
				var ga = document.createElement('script');
				ga.type = 'text/javascript';
				ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(ga, s);
			})();

		</script>
	</head>
	<body id="search">
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
					<a class="brand" href="/">Cal Poly Book Listr</a>
					<div class="nav-collapse">
						<ul class="nav">
							<li class="active">
								<a href="/search">Search for a Book</a>
							</li>
							<li>
								<a href="/sell">Sell A Book</a>
							</li>
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>
		<!--/End navbar section -->
		<div class="container">
			<div class="row">
				<div id="main-title" class="span12">
					<h1>Search for books by class</h1>
				</div>
			</div>
        </div>
        <br>
        <div class="container">
			<div class="row">
				<div class="span12">
					<div id="search-area">
						<form class="form-search" method="GET" action="/search">
							<div class="control-group">
								<div class="controls">
									<div id="search-box" class="input-append">
										<input id="id_q" name="q" type="text" placeholder="i.e. CS241" class="span11 input-large">
										<button class="btn-large btn-primary" type="submit">
											<i class="icon-search"></i><span class="visuallyhidden">Search</span>
										</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<hr>
			{% block content %}{% endblock %}
			<hr>
			<div class="row">
				<div class="offset5 span6">
					<footer>
						<p>
							&copy; 2012 The Book Listr
						</p>
					</footer>
				</div>
			</div>
		</div>
		<!-- /container -->
		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="../static/js/jquery.js"></script>
		<script src="../static/js/bootstrap-transition.js"></script>
		<script src="../static/js/bootstrap-alert.js"></script>
		<script src="../static/js/bootstrap-modal.js"></script>
		<script src="../static/js/bootstrap-dropdown.js"></script>
		<script src="../static/js/bootstrap-scrollspy.js"></script>
		<script src="../static/js/bootstrap-tab.js"></script>
		<script src="../static/js/bootstrap-tooltip.js"></script>
		<script src="../static/js/bootstrap-popover.js"></script>
		<script src="../static/js/bootstrap-button.js"></script>
		<script src="../static/js/bootstrap-collapse.js"></script>
		<script src="../static/js/bootstrap-carousel.js"></script>
		<script src="../static/js/bootstrap-typeahead.js"></script>
	</body>
</html>
