body {
    padding-top: 60px;
    padding-bottom: 40px;
}

#message {
    width:1127px;
}

#search .hidden-phone #search-area #search-box button {
    height: 58px;
    width: 96px;
}

#search .hidden-phone #search-area #search-box input {
    height: 48px;
    line-height: 1.5;
    font-size: 36px;
}

#search .hidden-desktop #search-area #search-box button {
    height: 30px;
}

#search .hidden-desktop #search-area #search-box input {
    height: 24px;
    line-height: 1;
    width:280px;
}

.visuallyhidden {
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    position: absolute;
    overflow: hidden;
}

#search #main-title {
    margin-top: 30px;
}

#search #main-title h1 {
    font-weight: 300;
    font-size: 50px;
    height: 100px;
    line-height: 1;
}

        #feedback { 
            height: 104px; 
            width: 104px; 
            position: fixed; 
            top: 40%; 
            z-index: 1000;
            transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg); 
            -moz-transform: rotate(-90deg); 
            -o-transform: rotate(-90deg); 
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        }

        #feedback a { 
            display: block; 
            background: #D44413; 
            height: 15px; 
            width: 70px; 
            padding: 8px 16px;
            color: #fff; 
            font-family: Arial, sans-serif; 
            font-size: 17px; 
            font-weight: bold; 
            text-decoration: none; 
            border-bottom: solid 1px #333; border-left: solid 1px #333; border-right: solid 1px #fff;
        }

#feedback a:hover { 
    background: #06c; 
}
